body {
  text-align: center;

}

img {
  margin: 20px 0;
  max-width: 200px;
}

.selectablelist{
  width: 60%;
  display: inline-block;
}
.selected{
  color: gray;

}

.tagsview{
  text-align: left;
  border-bottom: solid 1px gray;
}
.tagList{
  display: inline-block;

}
.tag{
  display: inline-block;
  padding: 0px 5px;
  margin-right: 5px;
  list-style-position: inside;
  border: solid 1px black;
  border-radius: 25px;
}

.active{
  background: lightgray;
}

button{
  border: none;
  background: transparent;
}

#searchbox{
  display: inline-block;
  border: none;
  margin: 5px;

}

.itemslist{
  list-style-type: none;
  padding: 0px;
}

.item{
  border-bottom: solid 1px gray;
  padding: 10px;
  text-align: left;
}

#searchbox:focus {
    outline-color: transparent;
    outline-style: none;
  }
